<div class="p-documents__items">
    <div class="p-documents__item is-active">
        <div class="p-documents__item-preview">
            <img src="img/documents/1.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/2.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">2 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/3.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/4.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/5.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/1.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item is-selected">
        <div class="p-documents__item-preview">
            <img src="img/documents/2.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">2 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/3.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/4.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
    <div class="p-documents__item">
        <div class="p-documents__item-preview">
            <img src="img/documents/5.png" alt="" class="embed-responsive">
            <div class="p-documents__item-overlay">
                <a href="#" class="iconfont iconfont-actions-preview p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-settings p-documents__item-control"></a>
                <a href="#" class="iconfont iconfont-actions-remove p-documents__item-control"></a>
            </div>
        </div>
        <div class="p-documents__item-info">
            <a href="#" class="p-documents__item-name link-info">Habits.png</a>
            <span class="p-documents__item-date">1 min ago</span>
        </div>
    </div>
</div>