.p-documents__items
  .p-documents__item.is-active
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/1.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/2.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 2 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/3.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/4.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/5.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/1.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item.is-selected
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/2.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 2 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/3.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/4.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
  .p-documents__item
    .p-documents__item-preview
      img.embed-responsive[src="img/documents/5.png" alt=""]
      .p-documents__item-overlay
        a.iconfont.iconfont-actions-preview.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-settings.p-documents__item-control[href="#"]
        a.iconfont.iconfont-actions-remove.p-documents__item-control[href="#"]
    .p-documents__item-info
      a.p-documents__item-name.link-info[href="#"]
        | Habits.png
      span.p-documents__item-date
        | 1 min ago
